.ingridient_details__wrapper {
    height: 540px;
}

.ingridient_details_main {
    position: relative;
    top: 50px;
    height: 64px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    color: #F2F2F3;
    text-align: center;
    margin: 0;
}

.ingridient_details_img img {
    position: absolute;
    width: 520px;
    height: 240px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 104px;
}

.ingridient_details_name {
    position: absolute;
    height: 30px;
    left: 0px;
    right: 0px;
    top: 360px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #F2F2F3;
}
.ingridient_details_callories_wrapper {
    position: relative;
    top: 370px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ingridient_details_callories {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 120px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #8585AD;
    width: 125px;
}

.ingridient_details_protein {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 120px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #8585AD;
    width: 125px;
}

.ingridient_details_fats {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 120px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #8585AD;
    width: 125px;
}

.ingridient_details_carb {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 120px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #8585AD;
    width: 125px;
}