.register_title {
    position: absolute;
    text-align: center;
    margin: auto;
    width: 480px;
    left: 0;
    right: 0;
    height: 30px;
    top: 180px;
}
.register_inputs {
    position: absolute;
    width: 480px;
    margin: auto;
    left: 0;
    right: 0;
    top: 235px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.register_btn {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 515px;
    text-align: center;
}

.register_btn button{
    width: 253px;
    height: 56px;
}

.register_bottom {
    position: absolute;
    width: 480px;
    margin: auto;
    left: 0;
    right: 0;
    top: 635px;
    text-align: center;
}
.register_bottom span {
    color: #8585AD;
}
.register_bottom a {
    color: #4C4CFF;
    margin-left: 8px;
}

.register_error {
    position: absolute;
    top: 250px;
    left: 0;
    text-align: center;
    right: 0;
}
