.profile_wrapper {
    position: relative;
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: calc(100vh - 120px);
    box-sizing: border-box;
    overflow: hidden;
}

.profile_links {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    width: 320px;
    gap: 20px;
}

.profile_link {
    color: #8585AD;
    text-decoration: none;
}

.profile_link__active {
    color: #F2F2F3;
    text-decoration: none;
}
.profile_bottom {
    display: inline-block;
    color: #8585AD;
    height: 50px;
    width: 290px;
    margin-top: 100px;
}

.profile_view_orders {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}
.profile_view_orders_loading {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}
.profile_view_main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    margin-top: 100px;
    overflow: hidden;
}
.profile_log_out__btn {
    width: 480px;
    color: #8585AD;
    cursor: pointer;
}

.profile_waiting {
    position: absolute;
    top: 400px;
    height: 35px;
    width: 100%;
    margin: auto auto;
    text-align: center;
}

.profile_loading {
    position: relative;
    top: 150px;
}