.profile_wrapper {
    position: relative;
    top: 230px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 860px;
    display: flex;
    flex-direction: row;
}

.profile_links {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 20px;
}
.profile_links a {
    height: 100%;
}

.profile_link {
    color: #8585AD;
    text-decoration: none;
}

.profile_link__active {
    color: #F2F2F3;
    text-decoration: none;
}

.profile_view {
    width: 480px;
}
.profile_bottom {
    display: inline-block;
    color: #8585AD;
    height: 50px;
    width: 290px;
    margin-top: 100px;
}
