.feed_container {
    position: relative;
    left: calc(50% - 1280px/2);
    height: calc(100vh - 120px);
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1280px;
    top: 120px;
    background: #131316;
}

.feed_wrapper {
    display: flex;
    justify-content: center;
}

.feed_left {
    width: 640px;
    height: calc(100vh - 150px);
    box-sizing: border-box;
    overflow-y: scroll;
}

.feed_right {
    width: 640px;
}

.feed_message {
    position: relative;
    top: 250px;
    text-align: center;
}
