.reset_title {
    position: absolute;
    text-align: center;
    margin: auto;
    width: 480px;
    left: 0;
    right: 0;
    height: 30px;
    top: 180px;
}
.reset_inputs {
    position: absolute;
    width: 480px;
    margin: auto;
    left: 0;
    right: 0;
    top: 235px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.reset_btn {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 175px;
    text-align: center;
}

.reset_btn button{
    width: 253px;
    height: 56px;
}

.reset_bottom {
    position: absolute;
    width: 480px;
    margin: auto;
    left: 0;
    right: 0;
    top: 546px;
    text-align: center;
}
.reset_bottom span {
    color: #8585AD;
}
.reset_bottom a {
    color: #4C4CFF;
    margin-left: 8px;
}
.reset_error {
    margin-bottom: 20px;
  }