.app-header_navigation__panel p {
    font-size: 15px !important
}

.app-header_navigation__panel {
    position: absolute;
    height: 88px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.app-header_navigation__panel-container {
    position: absolute;
    max-width: 1280px;
    height: 56px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 56px/2);
}

.app-header__links-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 383px;
    height: 56px;
    left: 0px;
    top: calc(50% - 56px/2);
    background: #1C1C21;
}

.app-header__link {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    width: 197px;
    height: 56px;
    background: #1C1C21;
    border: 1px dashed #4C4CFF;
    border-radius: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #8585AD;
}

.app-header__link-active {
    color: #F2F2F3;
}

.app-header__links-right {
    position: absolute;
    width: 200px;
    height: 56px;
    left: 1073px;
    top: 0px;
}

.app-header__logo {  
    position: absolute;
    width: 289.15px;
    height: 50px;
    left: 495px;
    top: 4px;
    background: #1C1C21;
    border: 1px dashed #4C4CFF;
}
