::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  height: 292px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #131316;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
  box-sizing: border-box;
  overflow: hidden;
}

.loading {
  font-size: 25px;
  height: 35px;
  width: 100%;
  margin: auto auto;
  text-align: center;
}

/* input for @ya.praktikum/react-developer-burger-ui-components */
.input_size_default {
  width: 480px;
}

.ingredient_wrapper {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100px;
  width: 600px;
}

.ingredient_wrapper__modal {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
}