.profile_main__wrapper {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.profile_main__success {
    margin: 0 auto;
    text-align: center;
    width: 240px;
    height: 20px;
    border: 2px solid black;
    background-color: rgb(39, 89, 39);
    border-radius: 10px;
    transition: 1s;
}
button {
    width: 250px;
    margin: 0 auto;
}